<!DOCTYPE html>
<html>

<head>
    <title>404</title>
</head>

<body style="background-color: #F5F5F5">
    <div>404</div>
</body>
<script type="text/javascript">
    fetch(`/queryInfo?b=1`, {
        method: 'post',
        body: JSON.stringify({
            a: 123
        }),
        headers: {
            'Content-Type': 'application/json'
        },
    }).then(resp => {
        if (resp.ok) {
            return resp.json();
        } else {
            if (resp.status == 404) {
                throw new Error('Page not found:' + resp.url);
            }
            if (resp.status == 500) {
                throw new Error(resp.status + ' ' + resp.url);
            }
        }
    }).then(data => {
        alert(data);
    }).catch(err => {
        console.error(err.message);
    });
</script>

</html>